#background-video {
    width: 100%; /* Lebar 100% agar mengisi kontainer dengan baik */
    height: auto; /* Ketinggian otomatis agar rasio aspek video terjaga */
    object-fit: cover; /* Untuk mengisi area kontainer, namun tetap menjaga aspek video */
}

@media (max-width: 768px) {
    #background-video {
        width: 100%; /* Misalnya, pada layar dengan lebar kurang dari 768px, gunakan lebar 100% */
        height: auto;
        object-fit: cover;
    }
}
